
<div class="product-show">
  <div class ="product-show-inner">
    <div class="image-board-div">
      <%=image_tag @product.img_url, class:"image-board" %>
    </div>
    <div class="product-show-right">
      <div class="select-main">
        <div class="select-container">
          <div class="select-container-question">
            <div class="select-container-text">
                <div class="numberCircleGreen">
                    1
                </div>
                <div class="option-text">
                    What condition is your device in?
                </div>
            </div>
            <div class="option-text-right">
              Good
            </div>
          </div>
          <div class = "buttons-container">
            <button class="btn-container">
               Good
            </button>
            <button class="btn-container-unselect">
               Mint
            </button>
            <button class="btn-container-unselect">
               Damaged
            </button>
          </div>
        </div>
      </div>
      <button class="button-15" role="button" style="width: 100%; margin-top: 20px;">
        <%=link_to "Get Price", "/form/#{@product.id}", class:"get_price_button"%>
      </button>
    </div>
  </div>
  <div class="choose-main">
    <div class="choose-container">
      <div class="choose-head">
        <span class="choose-text">Why sell with brickset.com?</span>
      </div>
      <div class = "section-container">
        <div class="sub-section">
            <img src="https://webuyanyphone.com/images/app/summary-icons/trust.png" alt="customers trust us" class="ml-4 image">
            <div class = "sub-section-right">
              <p class = "heading">
                Customers trust us
              </p>
              <p class= "sub-heading">
                We’ve bought over 1 million devices from customers and have a ‘Good’ TrustPilot rating.
              </p>
            </div>
        </div>
        <div class="sub-section">
            <img src="https://webuyanyphone.com/images/app/summary-icons/guaranteed_price.png" alt="customers trust us" class="ml-4 image">
            <div class = "sub-section-right">
              <p class = "heading">
                Guaranteed price
              </p>
              <p class= "sub-heading">
                Unlike other companies, we’ll pay you the amount you see on the website* and we’ll even lock that price for 14 days.
              </p>
            </div>
        </div>
        <div class="sub-section">
            <img src="https://webuyanyphone.com/images/app/summary-icons/price_tag.png" alt="customers trust us" class="ml-4 image">
            <div class = "sub-section-right">
              <p class = "heading">
                We offer the best prices
              </p>
              <p class= "sub-heading">
                We constantly monitor competitor prices on a regular basis and aim to give you the highest value for your trade-in. We can’t guarantee we’ll always pay the most, but if you find a better deal elsewhere, we’ll do our best to beat it.
              </p>
            </div>
        </div>
        <div class="sub-section">
            <img src="https://webuyanyphone.com/images/app/summary-icons/shield.svg" alt="customers trust us" class="ml-4 image">
            <div class = "sub-section-right">
              <p class = "heading">
                30 Day Free McAfee included
              </p>
              <p class= "sub-heading">
              Award-winning protection against hackers, viruses and cyber attacks.
              </p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="cost-display">
</div>

<script type="text/javascript">
  var condition = "Good"; // variable to store the product condition

  $(document).ready(function() {
    $('.buttons-container button').on('click', function() {
      $('.buttons-container button').removeClass('btn-container').addClass('btn-container-unselect');

      $(this).removeClass('btn-container-unselect').addClass('btn-container');

      condition = $.trim($(this).text());
      $('.option-text-right').text(condition)
    });

    // Intercept the click on the Get Price button
    $('.get_price_button').on('click', function(e) {
      e.preventDefault();
      var href = $(this).attr('href');
      href += '/' + condition;
      location.href = href;
    });
  });
</script>
